{{define "botoes"}}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
        crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
    <title>Westminster - Igreja Presbiteriana de Vila Celeste - People</title>
</head>
<body>
    <nav class="navbar navbar-light bg-light mb-4">
        <a class="navbar-brand" href="/">Westminster - Igreja Presbiteriana de Vila Celeste <br> -> Pessoas Lista Simples</a>
        <div class="container">
            <div class="card-foolter">
                <a href="/" class="btn btn-secondary mb-2"> Home </a>
                <a href="/peoplesimple" class="btn btn-primary mb-2"> Lista Simples de pessoas </a>
                <a href="/" class="btn btn-success mb-2"> Lançamento de Ofertas </a>
                <a href="/" class="btn btn-danger mb-2"> Sair </a>
                <a href="/" class="btn btn-warning mb-2"> btn-warning </a>
                <a href="/" class="btn btn-info mb-2"> btn-info </a>
                <a href="/" class="btn btn-light mb-2"> btn-light </a>
                <a href="/" class="btn btn-dark mb-2"> btn-dark </a>
                <a href="/" class="btn btn-link mb-2"> btn-link </a>
            </div>
        </div>
    </nav>
{{end}}