{{define "_menu"}}
<body>
    <h1>Westminster - Igreja Presbiteriana de Vila Celeste</h1>

    <nav class="navbar navbar-expand-lg navbar-light bg-light mb-3">
        <a class="navbar-brand" href="/">Página Inicial</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Alterna navegação">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav">
            <li class="nav-item active">
              <a class="nav-link" href="/">Home <span class="sr-only">(Página atual)</span></a>
            </li>

            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Gestão de Pessoas</a>
              <div class="dropdown-menu">
                <a class="dropdown-item" href="/peoplesimpleenabled">Gestão Simples de Pessoas</a>
                <a class="dropdown-item" href="#">Gestão Geral de Pessoas</a>
                <a class="dropdown-item" href="#">Vinculo Pessoas emitem Recibo</a>
                <a class="dropdown-item" href="#">Gestão de Pessoas Terceiros</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="#">Emissão de Recibo para Pessoa</a>
              </div>
            </li>

            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Gestão de Fornecedor</a>
              <div class="dropdown-menu">
                <a class="dropdown-item" href="#">Gestão de Fornecedores</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="#">Cadastro de Notas</a>
              </div>
            </li>
<!-- 
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Gestão de Membros</a>
              <div class="dropdown-menu">
                <a class="dropdown-item" href="#">Gestão de Membros (Vínculo de Pessoas a Membros)</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="#">Relatório de Membros</a>
              </div>
            </li>

            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Gestão de Ofertas</a>
              <div class="dropdown-menu">
                <a class="dropdown-item" href="#">Lançamento de Dízimo e Ofertas</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="#">Relatório de Dízimo e Ofertas</a>
              </div>
            </li>

            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Gestão de Saidas Financeiras</a>
              <div class="dropdown-menu">
                <a class="dropdown-item" href="#">Lançamento das Saidas</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="#">Relatório das saidas</a>
              </div>
            </li>

            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Gestão de Financeiras</a>
              <div class="dropdown-menu">
                <a class="dropdown-item" href="#">Gestão Financeiras</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="#">Relatório Financeiros</a>
              </div>
            </li>

            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Gestão Contábil</a>
              <div class="dropdown-menu">
                <a class="dropdown-item" href="#">Lançamento contábeis</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="#">Relatório contábeis</a>
              </div>
            </li>

            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Gestão da Escola Dominical</a>
              <div class="dropdown-menu">
                <a class="dropdown-item" href="#">Gestão das Classes</a>
                <a class="dropdown-item" href="#">Gestão das Revistas</a>
                <a class="dropdown-item" href="#">Gestão das Aulas</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="#">Relatório da Escola Dominical</a>
              </div>
            </li>

            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Gestão dos Grupos Famíliares</a>
              <div class="dropdown-menu">
                <a class="dropdown-item" href="#">Gestão dos Grupos Famíliares</a>
                <a class="dropdown-item" href="#">Gestão dos Estudos</a>
                <a class="dropdown-item" href="#">Gestão das Participantes</a>
                <a class="dropdown-item" href="#">Gestão das Presença</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="#">Relatório de acompanhamento das participações</a>
              </div>
            </li>

            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Gestão de Acesso</a>
              <div class="dropdown-menu">
                <a class="dropdown-item" href="#">Gestão de acesso/a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="#">Relatório de acesso</a>
              </div>
            </li> -->

            <li class="nav-item">
              <a class="nav-link" href="/peoplesimpleenabled">Lista Simples de pessoas</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Lançamento de Ofertas</a>
            </li>
            <li class="nav-item">
              <a class="nav-link disabled" href="#">Sair</a>
            </li>
          </ul>
        </div>
      </nav>
</body>
{{end}}