{{define "PeopleSimple"}}
{{template "_head"}}
{{template "_menu"}}
    <div class="container mb-4">
        <div class="card-foolter">
            <a href="/newpeoplesimple" class="btn btn-primary mb-2"> Cadastro de Pessoa </a>
            <a href="/peoplesimple" class="btn btn-success mb-2"> Todos </a>
            <a href="/peoplesimpleenabled" class="btn btn-info mb-2"> Ativos </a>
            <a href="/peoplesimpledisabled" class="btn btn-danger mb-2"> Inativos </a>
        </div>
            <section class="card">
            <div>
                <table class="table table-striped table-hover mb-0">
                    <thead>
                        <tr>
                            <th>Id</th>
                            <th>Nome</th>
                            <th>Número do Cartão</th>
                            <th>Local</th>
                            <th>Status</th>
                            <th>Desabilitar/Habilitar</th>
                            <th>Editar</th>
                        </tr>
                    </thead>
                    <tbody>
                        <!-- <tr>
                            <td>2</td>
                            <td>Viviane S Silva Vieira</td>
                            <td>2</td>
                        </tr> -->
                        {{range .}}
                        <tr>
                            <td>{{.Id}}</td>
                            <td>{{.Name}}</td>
                            <td>{{.FinancialNumber}}</td>
                            <td>{{.Location}}</td>
                            <td>{{if .Enabled}}
                                Ativo
                                {{else}}
                                Inativo
                                {{end}}
                            </td>
                            <!-- Botão de exclusão 
                                <td><a href="/DeletePeopleSimple?id={{.Id}}" class="btn btn-danger">Apagar</a></td>
                            <td><button onclick="onDelete('{{.Id}}')" class="btn btn-danger">Apagar</button></td> 
                            -->
                            <td>
                                <a href="/DisabledPeopleSimple?id={{.Id}}" class="btn btn-danger">Desativar</a>
                                <a href="/EnabledPeopleSimple?id={{.Id}}" class="btn btn-success">Habilitar</a>
                            </td>
                            <td><a href="/Updatepeoplesimple?id={{.Id}}" class="btn btn-warning">Editar</a></td>
                        </tr>
                        {{end}}
                    </tbody>
                </table>
            </div>
        </section>
    </div>
</body>

<script >
    // Apagar
    function onDelete(id){
        let resposta = confirm("Tem certeza que deseja Apagar esta pessoa?")
        if (resposta){
            window.location = "/DeletePeopleSimple?id="+id
        }
    }
    // desabilitar
    function onDisabeld(id){
        let resposta = confirm("Tem certeza que deseja Desabilitar esta pessoa?")
        if (resposta){
            window.location = "/DisabledPeopleSimple?id="+id
        }
    }

    // desabilitar
    function onEnabeld(id){
        let resposta = confirm("Tem certeza que deseja Habilitar esta pessoa?")
        if (resposta){
            window.location = "/EnabledPeopleSimple?id="+id
        }
    }

</script>
</html>
{{end}}
